/*a partir de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;0,700;1,500&display=swap');

/*header et nav*/
/*base*/
* {
    /*simplifie la gestion des tailles d'éléments*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /*permettra à la page de dérouler en douceur jusqu'à une section donnée*/
    scroll-behavior: smooth;
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: .938rem;
    background-color: aliceblue;
    color: rgb(211, 150, 75);
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    /*spécifier l'espace entre les cellules de la grille*/

}

section {
    padding-block: 4rem 2rem;
}

h1,
h2,
h3,
h4 {
    color: black;
    font-weight: 700;
}

ul {
    /*supprime les puces*/
    list-style: none;
}

a {
    /*supprime les sourligner des lien*/
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 1rem;
    background-color: aliceblue;
    /*déterminer l'ordre de superposition des element*/
    /* si elem à le plus grand z-index apparait au debut de la page */
    z-index: 100;
    /*modification d'ombre sera animée sur une durée de 0,4 seconde*/
    transition: box-shadow .4s;
}


.nav {
    position: relative;
    /*unité relative à la taile du navigateur par defaut 16px */
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: black;
    /*espace entre les colone du display */
    column-gap: .5rem;
}

.nav_logo_rounded,
.nav_toggle {
    width: 32px;
    height: 32px;
    background-color: black;
    color: rgb(255, 255, 255);
    display: grid;
    /*utiliser si display est grille pour mettre lelement au milieu*/
    place-items: center;
}

/*align-items: center; aligne le contenu des cellules de la grille verticalement*/
/*justify-items: center; justifie le contenu des cellules horizontalement au centre de la cellule de la grille.*/
.nav_logo_rounded {
    background-color: rgb(155, 26, 86);
    color: rgb(255, 255, 255);
    border-radius: 15%;
}

.nav_toggle {
    font-size: 1.25rem;
    cursor: pointer;

}

/*navigation pour le mobile */
@media screen and (max-width: 1150px) {
    .nav_menu {
        position: fixed;
        /*-100 en dehors de la vue*/
        top: -100%;
        left: 0;
        /*remplissage logique de début et de fin du bloc d'un élément*/
        padding-block: 1.8rem 5rem;
        /*couleur transparentes */
        background-color: hsla(0, 0%, 0%, .75);
        width: 100%;
        text-align: center;
        /*rendre l'ecriture flou derriere( 10 intensité de flou) */
        backdrop-filter: blur(10px);
        transition: top .4s;
    }
}

.nav_name,
.nav_titre,
.nav_close {
    color: rgb(255, 255, 255);
}

.nav_titre {
    display: block;
    margin-bottom: 3.5rem;
    font-weight: 800;
    font-size: 1.1rem;
}

.nav_name {
    position: relative;
    width: max-content;
    margin: 0 auto 3rem;
    font-size: 1.2rem;

}

.nav_name::after,
.nav_name::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: antiquewhite;
    position: absolute;
    left: -4rem;
    top: 50%;
}

.nav_name::before {
    left: initial;
    right: -4rem;


}

.nav_liste {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav_link {
    color: rgb(182, 31, 101);
    font-weight: 1000;
    position: relative;
    font-size: 1rem;
    transition: color .3S;

}

.nav_link:hover {
    color: aqua;
    opacity: 1;
    font-size: 1.2rem;
}

/*si la souris passe avant le texte du lien */
.nav_link:hover::after {
    content: '';
    width: 25%;
    height: 2px;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -.5rem;
}

.nav_close {
    top: 0.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    position: absolute;
    cursor: pointer;
}

.nav_close:hover {
    color: aqua;
    opacity: 1;
    font-size: 2rem;
}

/*montrer le menu */
.show-menu {
    top: 0;
}

/*ajout du shadow header */
.shadow-header {
    box-shadow: 5px 1px 16px hsla(0, 0%, 0%, 1);
}

/*page home*/
.home_container {
    padding-top: 2rem;

}



.home_perfil {
    position: relative;
    justify-self: center;

}

.home_image {
    width: 100%;



}

.home_img {
    position: relative;
    z-index: 10;
    width: 30rem;
    /* ou width: 30%; */
    height: auto;
    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);



}

.home_social {
    height: max-content;
    position: absolute;
    left: -3rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: grid;
    row-gap: 1rem;
    font-size: 2rem;
}

.home_social_link {
    background-color: rgb(143, 38, 96);
    color: rgb(254, 255, 255);
    font-size: 2rem;
    display: grid;
    padding: 1px;
    place-items: center;
    transition: background-color .3s;
}

.home_social_link:hover {
    background-color: cyan;

}

.home_info {
    position: relative;
    justify-self: center;
}

.home_name {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 100px;
}

.home_info {
    margin-top: 4rem;
    /*definir la taille du rectangle qui contient le texte)*/
    max-width: 500px;


}

.home_description {
    color: black;
    text-align: center;
}

.home_description b {
    background: linear-gradient(90deg, hsla(327, 90%, 44%, 0.3), hsla(14, 94%, 42%, 0.1));
}